@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb)),
      ),
      rgb(var(--background-end-rgb));
      overflow-x: auto; /* Habilita el scroll horizontal cuando sea necesario en el cuerpo de la página */
      white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
}



/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

div::-webkit-scrollbar {
    -webkit-appearance: none;
}

div::-webkit-scrollbar:vertical {
    width:10px;
}

div::-webkit-scrollbar-button:increment,div::-webkit-scrollbar-button {
    display: none;
} 

div::-webkit-scrollbar:horizontal {
    height: 10px;
}

div::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;  
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-third {
  @apply bg-gray-950 hover:bg-gray-800 text-white py-2 px-4 rounded transition-all;
}



